@import "tailwindcss" prefix(ygi);

@import "../src/styles/font.css";
@import "../src/styles/typography.css";
@import "../src/styles/color.css";
@import "../src/styles/radius.css";
@import "../src/styles/layout.css";

@base {
  body {
    background: var(--background);
    color: var(--foreground);
    font-family: 'SUIT Variable', system-ui, -apple-system, sans-serif;
  }  
}

